@{
    var tutorialSeries = Model.String("Tutorial");
    var name = Model.String("Name");
    var part = Model.Get<int?>("Part");
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags);
    var repoUrl = Model.String("SourceCodeUrl");
}

<div class="post-heading">   
    <h1>Tutorial: @tutorialSeries</h1>
    <h2 class="subheading">@Model.String("Name")</h2>
<p>
@if(part > 0)
{
   @:<span>This tutorial is part @part </span> in <a href="/tutorial#@tutorialSeries">this series.</a>
}
else
{
   @:<span>You can find the <a href="/tutorial#@tutorialSeries">rest of the tutorial series here</a></span>
}
@if(!string.IsNullOrWhiteSpace(repoUrl))
{
  <em> The sample code to go with this post can <a href="@repoUrl">be found here.</a></em>
}
</p>
        
    <div class="meta">        
        @if (Published != default(DateTime))
        {
            <text>Published on @Published.ToLongDateString()<br></text>
        }
    </div>
   
</div>

