---
title: "Tutorials"
date: 2017-08-06T13:18:44+01:00
published: 2017-08-06T13:18:44+01:00
tags: 
    - "tutorials"
categories:
    - "Development"
ShowInNavbar: true
---
@{
  
bool tutorialsAvailable = false;
IEnumerable<Wyam.Common.Documents.IDocument> documentCollection = null;
try
{
documentCollection = Context
        .Documents["Tutorials"];
}
catch(Exception ex)
{
}

if(documentCollection != null)
{

  // .Where(x => x.FilePath(Keys.RelativeFilePath)?.FullPath?.StartsWith("tutorial") == (bool?)true)
      var group = documentCollection.Where(x=>!string.IsNullOrEmpty(x.String("Tutorial", "")))
        .OrderBy(x=>x.Get<DateTime?>(BlogKeys.Published, DateTime.Now))
        .GroupBy(x=>x.String("Tutorial"), x=> x);

      // Iterate over each IGrouping in the collection.
    
    foreach (IGrouping<string, IDocument> tutorialGroup in group)
    {
        <a name="@tutorialGroup.Key"></a>
        <h2>@tutorialGroup.Key</h2>     
       
       <ol>     
       
        @foreach (IDocument doc in tutorialGroup.OrderBy(x=>x.Get<int?>("Part", 0)))
        {            
             <li><a href="@Context.GetLink(doc)">@doc.WithoutSettings.String("Name")</a></li>
            
        }        

          </ol>   
    }   

}
   
     
    
   

}