[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/dazinator/minimal.git
[submodule "themes/hugo-geo"]
	path = themes/hugo-geo
	url = https://github.com/dazinator/hugo-geo.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/dazinator/ghostwriter.git


[submodule "themes/hugo-theme-wave"]
	path = themes/hugo-theme-wave
	url = https://github.com/dazinator/hugo-theme-wave.git
