[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/dazinator/minimal.git
[submodule "themes/hugo-geo"]
	path = themes/hugo-geo
	url = https://github.com/dazinator/hugo-geo.git
